$def with (r)

<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>article</title>	
	</head>
	<body>
		<br><br><br>
		<p align="center"><a href="/index" >主页</a>(点击，返回主页)</p>
		<br><br><br>
		<h1>articles list</h1>
			
			    <table border="3" style="text-align:center">
				
				<tr>
				    <td>userId</td>
				    <td>userName</td>
				    <td>idCard</td>
				    <td>telNum</td>
				    <td>applicant</td>
				    <td>department</td>
				    <td>vpnCount</td>
				    <td>password</td>
				    <td>starTime</td>
				    <td>endTime</td>
				    <td>acctype</td>
				    <td>saveIp</td>
				    <td>savePort</td>
				</tr>
				$for x in r:
				<tr>
				    <td>$x.get('USERID')</td>
				    <td>$x.get('USERNAME')</td>
				    <td>$x.get('IDCARD')</td>
				    <td>$x.get('TEL')</td>
				    <td>$x.get('APPLICANT')</td>
				    <td>$x.get('DEPARTMENT')</td>
				    <td>$x.get('VPNACCOUT')</td>
				    <td>$x.get('PASSWORD')</td>
				    <td>$x.get('STARTIME')</td>
				    <td>$x.get('ENDTIME')</td>
				    <td>$x.get('ACCTYPE')</td>
				    <td>$x.get('SERVERIP')</td>
				    <td>$x.get('SERVERPORT')</td>
				</tr>
				



			    </table>
		<!--
			<ul>
			<li>$x.get('USERID') => 'TEL':$x.get('TEL')</li>
			</ul>
		-->
	</body>

</html>
