<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
</head>
<body>
	<div align="center">
		<h1>Head Page for Webpy.</h1>
		<p>A brief introduction is to add a user clicks Add, and then enter the appropriate information, and delete delete user information, modify modify user information, find find all user information</p>
		<br><br><br><br>
		<font size="5">
		<p>
			<a href="/add">Add </a>
		</p>	
		<p>
			<a href="/delete">Delete </a>
		</p>
		<p>
			<a href="/modify">Modify </a>
		</p>
		<p>
			<a href="/find">Find </a>
		</p>
		</font>
	</div>
	
</body>
</html>
