<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>loginPage</title>
</head>
<body>

	<div align="left">
	<h1>login</h1>

	USERNAME:<input type="text"><br>
	IDCARD: <input type="text"><br>
	TEL: <input type="text"><br>
	APPLICANT:<input type="text"> <br>
	DEPARTMENT:<input type="text"> <br>
	VPNACCOUT:<input type="text"> <br>
	PASSWORD:<input type="text"> <br>
	STARTIME:<input type="text"> <br>
	ENDTIME: <input type="text"><br>
	ACCTYPE: <input type="text"><br>
	SERVERIP: <input type="text"><br>
	SERVERPORT:<input type="text"> <br>
<input type="submit" value="submit">
	</div>
	
</body>
</html>
