<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body style="text-align:center"> 
	<br><br><br>
	<p align="center"><a href="/index" >主页</a>(点击，返回主页)</p>
	<br><br><br>
	<h1>Modify</h1>
	<form action="modify" method="post" style="text-align:center">
		<p>Input some informationS!</p>
		USERNAME:<input type="text" name="USERNAME"><br>
		IDCARD: <input type="" name="IDCARD" onkeyup="value=value.replace(/[^\d]/g,'')"  placeholder="请输入数字"><br>
		TELNUM: <input type="text" name="TELNUM" onkeyup="value=value.replace(/[^\d]/g,'')"  placeholder="请输入数字"><br>
		APPLICANT:<input type="text" name="APPLICANT"> <br>
		DEPARTMENT:<input type="text" name="DEPARTMENT"> <br>
		VPNACCOUT:<input type="text" name="VPNACCOUT"> <br>
		PASSWORD:<input type="password" name="PASSWORD"> <br>
		STARTIME:<input type="date" name="STARTIME"> <br>
		ENDTIME: <input type="date" name="ENDTIME"><br>
		ACCTYPE: <input type="text" name="ACCTYPE"><br>
		SERVERIP: <input type="text" name="SERVERIP"><br>
		SERVERPORT:<input type="text" name="SERVERPORT" onkeyup="value=value.replace(/[^\d]/g,'')"  placeholder="请输入数字"> <br>
		<input type="submit" value="submit">
	</form>	
</body>
</html>
